/src/number_detection/jersey_number_detection_dataset/
/src/number_detection/jersey_number_detection_dataset_copy/
/src/number_detection/jersey_number_detection_dataset_2/
/src/number_detection/jersey_number_detection_dataset_3/
/src/number_detection/player_detection_dataset/
/src/number_detection/soccernet_dataset/
/src/number_detection/soccernet_dataset_expanded/
/src/number_detection/__pycache__/
/src/number_detection/vgg_weights/
/src/number_classification/soccernet_dataset_cropped/
/src/number_classification/__pycache__/
/input_videos/
/runs/
/venv/
/darknet/
*.pt
*.pth
*.pb
*.zip
*.h5
*.pyc
*.names